# Base de datos (Railway / PlanetScale / cualquier MySQL)
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=3306

# Auth
SESSION_SECRET=cambia-esto-por-un-string-largo-y-aleatorio

# Entorno
NODE_ENV=development
