<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="/css/perfil.css">
</head>
<body>
    <header class="profile-header">
        <a href="explorar_perfiles.html" class="btn-custom">Inicio</a>
        <div class="nav-link dropdown">
            <button class="dropbtn">Configuración</button>
            <div class="dropdown-content">
                <a href="#" id="open-password-modal">Cambiar Contraseña</a>
                <a href="/api/logout.js">Cerrar sesión</a>
            </div>
        </div>
    </header>
    
    <div class="profile-container">
        <div class="banner-container">
            <img id="banner" src="" alt="Banner" class="banner-image">
            <div class="profile-image-container">
                <img id="profile-image" src="" alt="Imagen de perfil" class="profile-image">
            </div>
        </div>
        
        <div class="profile-info">
            <h2 id="user-name"></h2>
            <p id="user-description" class="description"></p>
        </div>
        
        <div class="additional-info">
            <h3>Información Adicional</h3>
            <p><strong>Email:</strong> <span id="user-email"></span></p>
            <p><strong>Teléfono:</strong> <span id="user-phone"></span></p>
            <p><strong>Organización:</strong> <span id="user-organization"></span></p>
            <p><strong>Ubicación:</strong> <span id="user-location"></span></p>
        </div>
    </div>

    <script src="/js/perfil.js"></script>
</body>
</html>