* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container img {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    color: #00983d;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
}

.input-box input:focus {
    border-color: #00983d;
}

.btn-login {
    background-color: #00983d;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.btn-login:hover {
    background-color: #e0b800;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #ffd200;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

   
 /* Estilos para el botón de regresar */
 .btn-regresar {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #00983d; /* Cambia según tu preferencia de color */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-regresar:hover {
    background-color: #e0b800; /* Efecto hover */
}
