<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodología/Hitos - Innovatech</title>
    <link rel="stylesheet" href="/css/metodos.css">
</head>

<body class="metodos">
    <div class="metodos__container">
        <img src="/imagenes/Prototyping.png" alt="Prototipado" class="metodos__image">
        <div class="metodos__content">
            <h2 class="metodos__title">Metodología/Hitos <span class="metodos__title--highlight">(Prototipos)</span></h2>
            <ul class="metodos__list">
                <li class="metodos__item">
                    <span class="metodos__item-title">lanzamiento</span>
                    <span class="metodos__item-date">25 julio</span>
                </li>
                <li class="metodos__item">
                    <span class="metodos__item-title">promoción</span>
                    <span class="metodos__item-date">30 Agosto</span>
                </li>
                <li class="metodos__item">
                    <span class="metodos__item-title">inscripción</span>
                    <span class="metodos__item-date">22 septiembre</span>
                </li>
                <li class="metodos__item">
                    <span class="metodos__item-title">validación</span>
                    <span class="metodos__item-date">29 septiembre</span>
                </li>
                <li class="metodos__item">
                    <span class="metodos__item-title">mejoras técnicas modelos de negocio</span>
                    <span class="metodos__item-date">30 octubre</span>
                </li>
                <li class="metodos__item">
                    <span class="metodos__item-title">evaluación soluciones y reunion con inversores</span>
                    <span class="metodos__item-date">18 y 19 agosto</span>
                </li>
            </ul>
        </div>
    </div>
    <script src="/js/metodos.js"></script>
</body>
</html>
