<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INNOVATECH III EDICIÓN - Retos</title>
    
    <!-- External CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet'>
    
    <!-- Component CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animacion.css">
    <link rel="stylesheet" href="/css/retos.css">
</head>

<body>
    <section class="retos">
        <div class="retos__wrapper">
            <article class="fade-in-left retos__container">
                <div class="retos__content">
                    <header class="retos__header">
                        <span class="retos__number">01</span>
                        <h2 class="retos__title">Seguridad</h2>
                    </header>
                    <p class="retos__description">
                        Soluciones relacionadas con: Ciberseguridad urbana, alertas tempranas, vigilancia
                        inteligente, y Seguridad Ciudadana con tecnología disruptiva.
                    </p>
                </div>
                <img 
                    src="https://i.pinimg.com/564x/68/8e/b9/688eb9f10744db8d80e2dd7e3021d2de.jpg" 
                    alt="Seguridad con tecnología" 
                    class="retos__image"
                    loading="lazy"
                />
            </article>
        </div>
    </section>

    <!-- External JS -->
    <script src="/js/headers.js"></script>
    <script src="/js/retos.js"></script>
</body>
</html>