body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #00983d;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header nav {
    margin-top: 10px;
}

header nav .btn-logout {
    background-color: #c54c4c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

header nav .btn-logout:hover {
    background-color: #e0b000;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2.toggle-button, .btn-toggle {
    background-color: #61bd59;
    color: white;
    padding: 10px 15px; /* Ajuste en el padding */
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    text-align: center; /* Centrado del texto */
    display: inline-block; /* Para que se comporten como botones */
    border: none; /* Sin borde */
    font-size: 1em; /* Tamaño de fuente */
}

h2.toggle-button:hover, .btn-toggle:hover {
    background-color: #509e49; /* Color al pasar el mouse */
}

#success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    display: none; /* Oculto por defecto */
    margin-bottom: 20px;
}

.user-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

.user-card h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.user-card p {
    margin: 10px 0;
    color: #555;
}

.btn-approve, .btn-reject {
    background-color: #61bd59;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
}

.btn-approve:hover {
    background-color: #509e49; /* Color al pasar el mouse para aprobar */
}

.btn-reject {
    background-color: #f44336;
}

.btn-reject:hover {
    background-color: #d32f2f; /* Color al pasar el mouse para rechazar */
}

.form-details {
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.form-details img {
    border-radius: 5px;
}

.form-details p {
    margin: 5px 0;
    color: #666;
}

h3.toggle-button, .btn-toggle {
    background-color: #828282;
    color: white;
    padding: 7px 11px; /* Ajuste en el padding */
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    text-align: center; /* Centrado del texto */
    display: inline-block; /* Para que se comporten como botones */
    border: none; /* Sin borde */
    font-size: 1em; /* Tamaño de fuente */
}

h3.toggle-button:hover, .btn-toggle:hover {
    background-color: #509e49; /* Color al pasar el mouse */
}