<div class="Card__Container-sc-10h519i-0 lokgCi sc-abc067c5-0 kqdPN"
    style="margin-left: 120px; margin-top: 40px; display: flex; flex-direction: column; gap: 100px;">
    <div data-aos="fade-up" class="aos-init"><strong style="font-size: 50px; color: rgb(193, 18, 31);">DIA 1 (18
            Noviembre)</strong>
        <div style="display: flex; flex-direction: row; gap: 12px; align-items: center; padding: 12px;">
            <h3 style="font-size: 25px;">Inauguración Evento</h3><span style="font-size: 15px; margin-top: 2px;">Hora
                9:00</span>
        </div>
        <div style="display: flex; flex-direction: row; gap: 12px; align-items: center; padding: 12px;"><span
                style="font-weight: 600; font-size: 18px; max-width: 80%;">Charla Magistral Innovación -
                Presencial<strong>Industria, Innovación y Sostenibilidad</strong>Fabiano Ferreira de
                Paula</span><span>Hora 9:00</span></div>
        <div style="display: flex; flex-direction: column; gap: 30px;">
            <div class="days">
                <div>
                    <div
                        style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                        <h3 style="font-size: 26px; font-weight: bold;">Videojuegos</h3><img width="50" height="50"
                            src="https://img.icons8.com/ios-filled/50/controller.png" alt="icon-Videojuegos">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px; flex: 1 1 0%;">
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">2 Partidas 4 grupos</span><span>hora
                                11:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">2 Partidas 4 grupos</span><span>hora
                                12:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">2 Partidas 4 grupos</span><span>hora
                                13:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Almuerzo</span><span>hora 14:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">2 Partidas 4 grupos</span><span>hora
                                15:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">2 Partidas 4 grupos</span><span>hora
                                16:00</span></div>
                    </div>
                </div>
            </div>
            <div class="days day_inv">
                <div>
                    <div
                        style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                        <h3 style="font-size: 26px; font-weight: bold;">Ideación</h3><img width="50" height="50"
                            src="https://img.icons8.com/ios-filled/50/innovation.png" alt="icon-Ideación">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px;">
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Conformación de Equipos</span><span>hora
                                11:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Capacitaciónn motivación a la
                                innovación</span><span>hora 12:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Capacitación pensamiento de
                                diseño</span><span>hora 13:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Almuerzo</span><span>hora 14:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Preparación y presentación de
                                idas</span><span>hora 15:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Preparación y presentación de
                                idas</span><span>hora 16:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Capacitación estudio de
                                mercadeo</span><span>hora 17:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Diseño y aplicación de instrumento de mercado
                                mercadeo</span><span>hora 18:00</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" class="aos-init"><strong
            style="font-size: 50px; color: rgb(193, 18, 31); margin-bottom: 20px;">DIA 2 (19 Noviembre)</strong>
        <div style="display: flex; flex-direction: column; gap: 30px;">
            <div class="days">
                <div>
                    <div
                        style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                        <h3 style="font-size: 26px; font-weight: bold;">Videojuegos</h3><img width="50" height="50"
                            src="https://img.icons8.com/ios-filled/50/controller.png" alt="icon-Videojuegos">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px; flex: 1 1 0%;">
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">2 Partidas 4 grupos</span><span>hora
                                09:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">2 Partidas 4 grupos</span><span>hora
                                10:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">2 Partidas 4 grupos</span><span>hora
                                11:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">2 Partidas 4 grupos</span><span>hora
                                12:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">2 Partidas 4 grupos</span><span>hora
                                13:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Semifinal</span><span>hora 15:00 a
                                18:00</span></div>
                    </div>
                </div>
            </div>
            <div class="days day_inv">
                <div>
                    <div
                        style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                        <h3 style="font-size: 26px; font-weight: bold;">Prototipo</h3><img width="50" height="50"
                            src="https://img.icons8.com/ios-filled/50/design--v1.png" alt="icon-Prototipo">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px; flex: 1 1 0%;">
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Ubicación en Stand</span><span>hora
                                09:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Presentación de inventos /
                                Evaluación</span><span>hora 10:00 a 13:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Reuniones con inversores</span><span>hora
                                15:00 a 18:00</span></div>
                    </div>
                </div>
            </div>
            <div class="days ">
                <div>
                    <div
                        style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                        <h3 style="font-size: 26px; font-weight: bold;">Ideación</h3><img width="50" height="50"
                            src="https://img.icons8.com/ios-filled/50/innovation.png" alt="icon-Ideación">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px;">
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Modelado de idea</span><span>hora 09:00 a
                                13:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Capacitacion en costos</span><span>hora
                                15:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Arma tu Pitch-Capacitación</span><span>hora
                                16:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Memoria para el model de
                                negocio</span><span>hora 17:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Mentoria para el modelo de
                                negocio</span><span>hora 18:00</span></div>
                    </div>
                </div>
            </div>
            <div class="days day_inv">
                <div>
                    <div
                        style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                        <h3 style="font-size: 26px; font-weight: bold;">Conferencias y Negocios</h3><img width="50"
                            height="50" src="https://img.icons8.com/ios-filled/50/omnichannel.png"
                            alt="icon-Conferencias y Negocios">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px;">
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Mesa Redonda 2 Virtual - Internacional
                                (UMA,UGR)+ 2 Presencial - Nacional Tema: Acreditación internacional
                                incubadoras</span><span>hora 11:00 a 12:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Conferencia la IA en el desarrollo de la
                                Innovación</span><span>hora 16:00</span></div>
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">La incidencia de la IA en la seguridad
                                jurídica de las personas - Ing. Lorena Mahecha, Msc</span><span>hora 17:00</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="fade-up" class="aos-init"><strong
            style="font-size: 50px; color: rgb(193, 18, 31); margin-bottom: 20px;">DIA 3 (20 Noviembre)</strong>
        <div style="display: flex; flex-direction: column; gap: 30px;">
            <div class="days">
                <div>
                    <div
                        style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                        <h3 style="font-size: 26px; font-weight: bold;">Videojuegos</h3><img width="50" height="50"
                            src="https://img.icons8.com/ios-filled/50/controller.png" alt="icon-Videojuegos">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px; flex: 1 1 0%;">
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Final</span><span>hora 09:00 a 13:00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="days day_inv">
                <div>
                    <div
                        style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                        <h3 style="font-size: 26px; font-weight: bold;">Prototipo</h3><img width="50" height="50"
                            src="https://img.icons8.com/ios-filled/50/design--v1.png" alt="icon-Prototipo">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px; flex: 1 1 0%;">
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Reuniones con inversores</span><span>hora
                                09:00 a 13:00</span></div>
                    </div>
                </div>
            </div>
            <div class="days ">
                <div>
                    <div
                        style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                        <h3 style="font-size: 26px; font-weight: bold;">Ideación</h3><img width="50" height="50"
                            src="https://img.icons8.com/ios-filled/50/innovation.png" alt="icon-Ideación">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px;">
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Ajustes de Pitch</span><span>hora 09:00 a
                                13:00</span></div>
                    </div>
                </div>
            </div>
            <div class="days day_inv">
                <div>
                    <div
                        style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                        <h3 style="font-size: 26px; font-weight: bold;">Conferencias y Negocios</h3><img width="50"
                            height="50" src="https://img.icons8.com/ios-filled/50/omnichannel.png"
                            alt="icon-Conferencias y Negocios">
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 8px;">
                        <div style="display: flex; flex-direction: row; gap: 12px;"><span
                                style="font-size: 18px; font-weight: 600;">Mesa Redonda 2 Virtual-Internacional (UCO-
                                UCAM)+ 2 Presencial-Nacional Tema:Relación universidad EmpresaPara: Responsables de
                                TT,</span><span>hora 11:00 a 12:00</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div
            style="display: flex; flex-direction: row; gap: 12px; align-items: center; padding: 12px; margin-top: 40px;">
            <span style="font-weight: 600; font-size: 18px; max-width: 80%;">PREMIACIÓN, Espacio artístico, Networking,
                Autoridades y Entrega de reconocimientos</span><span>Hora 15:00 a 18:00</span>
        </div>
    </div>
</div>


<div data-aos="fade-up" class="aos-init aos-animate">
    <strong
        style="font-size: 50px; color: rgb(193, 18, 31); margin-bottom: 20px;">DIA 3 (20 Noviembre)</strong>
    <div style="display: flex; flex-direction: column; gap: 30px;">
        <div class="days">
            <div>
                <div style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                    <h3 style="font-size: 26px; font-weight: bold;">Videojuegos</h3><img width="50" height="50"
                        src="https://img.icons8.com/ios-filled/50/controller.png" alt="icon-Videojuegos">
                </div>
                <div style="display: flex; flex-direction: column; gap: 8px; flex: 1 1 0%;">
                    <div style="display: flex; flex-direction: row; gap: 12px;"><span
                            style="font-size: 18px; font-weight: 600;">Final</span><span>hora 09:00 a 13:00</span></div>
                </div>
            </div>
        </div>
        <div class="days day_inv">
            <div>
                <div style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                    <h3 style="font-size: 26px; font-weight: bold;">Prototipo</h3><img width="50" height="50"
                        src="https://img.icons8.com/ios-filled/50/design--v1.png" alt="icon-Prototipo">
                </div>
                <div style="display: flex; flex-direction: column; gap: 8px; flex: 1 1 0%;">
                    <div style="display: flex; flex-direction: row; gap: 12px;"><span
                            style="font-size: 18px; font-weight: 600;">Reuniones con inversores</span><span>hora 09:00 a
                            13:00</span></div>
                </div>
            </div>
        </div>
        <div class="days ">
            <div>
                <div style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                    <h3 style="font-size: 26px; font-weight: bold;">Ideación</h3><img width="50" height="50"
                        src="https://img.icons8.com/ios-filled/50/innovation.png" alt="icon-Ideación">
                </div>
                <div style="display: flex; flex-direction: column; gap: 8px;">
                    <div style="display: flex; flex-direction: row; gap: 12px;"><span
                            style="font-size: 18px; font-weight: 600;">Ajustes de Pitch</span><span>hora 09:00 a
                            13:00</span></div>
                </div>
            </div>
        </div>
        <div class="days day_inv">
            <div>
                <div style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
                    <h3 style="font-size: 26px; font-weight: bold;">Conferencias y Negocios</h3><img width="50"
                        height="50" src="https://img.icons8.com/ios-filled/50/omnichannel.png"
                        alt="icon-Conferencias y Negocios">
                </div>
                <div style="display: flex; flex-direction: column; gap: 8px;">
                    <div style="display: flex; flex-direction: row; gap: 12px;"><span
                            style="font-size: 18px; font-weight: 600;">Mesa Redonda 2 Virtual-Internacional (UCO- UCAM)+
                            2 Presencial-Nacional Tema:Relación universidad EmpresaPara: Responsables de
                            TT,</span><span>hora 11:00 a 12:00</span></div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; gap: 12px; align-items: center; padding: 12px; margin-top: 40px;">
        <span style="font-weight: 600; font-size: 18px; max-width: 80%;">PREMIACIÓN, Espacio artístico, Networking,
            Autoridades y Entrega de reconocimientos</span><span>Hora 15:00 a 18:00</span></div>
</div>