<div style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
    <h3 style="font-size: 26px; font-weight: bold;">Videojuegos</h3><img width="50" height="50"
        src="/imagenes/videogames.png" alt="icon-Videojuegos">
</div>

<div style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
    <h3 style="font-size: 26px; font-weight: bold;">Ideación</h3><img width="50" height="50" src="/imagenes/ideatech.png"
        alt="icon-Ideación">
</div>

<div style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
    <h3 style="font-size: 26px; font-weight: bold;">Prototipo</h3><img width="50" height="50" src="/imagenes/prototech.png"
        alt="icon-Prototipo">
</div>

<div style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 8px;">
    <h3 style="font-size: 26px; font-weight: bold;">Conferencias y Negocios</h3><img width="50" height="50"
        src="/imagenes/conferencia.png" alt="icon-Conferencias y Negocios">
</div>